/* CSS Document */

header{
	width: 100%;
}
.main-wrapper{
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	padding: 20px 40px;
	border:solid;
}

.logo-wrap{
	width: 160px;
	height: 50px;
	overflow: hidden;
	align-content: center;
}

body{
/*	background-color:#4C4067;*/
	background-color:#EDCFFF;
	align-content: center;
	margin: 0;
	padding: 0;
}

.searchbar{
	float: left;
}

.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}
.navbar i{
	color: white;
}

/* Navbar links */
.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #C897FF;
}
.searchbar i{
	align-items: flex-start;
}
.navbar input[type=text] {
  
  float: right;
  align-content: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.bg-image{
/*	background-image: url("imagesFinal/home.jpg");*/
	background-image: 
	linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 300%), url("imagesFinal/home.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	border: solid;
}
h1{
	font-family: "sauna-new", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 60px;
	margin: 0;
}

.homeimg{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.showcase-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 20px;
	justify-content: space-between;
	align-items: start;
	padding-top: 23px;
}

h2{
	text-align: center;
	font-family: "sauna-new", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 40px;
}

.showcase-item{
	width: 200px;
	height:300px;
	margin: 0 auto;
	text-align: center;
	border: solid;
}

.showcase-item p {
	margin: -10em 0;
	line-height: 135%;
	font-family: "sauna-new", sans-serif;
	font-size: 22px;
	color: beige
	
}

.showcase-img{
	width: 200px;
	height:300px;
	width 100%
    min-height 100%
/*	box-shadow: 12px 12px 40px #11053C;*/
}

.review-grid{
	border:solid;
	display:flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-between;
	
}
.review-card-left{
	border:solid;
	display: flex;
	padding: 10px;
	align-items: center;
	margin-top:23px; 

}

.review-card-right{
	border:solid;
	display: flex;
	flex-direction: row-reverse;
	padding: 10px;
	align-items: center;
	margin-top:23px; 

}

.review-img img{
	width:160px;
	padding-right: 20px;
}

.review{

}

.footer{
	margin-top:150px;
	padding: 100px 10%;
	background: black;
	color: white;
	display: flex;
	column-gap: 30px;
	flex-direction: row;
	
}

.footer div{
	text-align: center;
    }

[class*=".col-"] {
	flex-direction: column;
}

.col-1{
	display: flex;
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
	flex-direction: column;
}
.col-2{
	flex-grow: 2;
}

form input{
	width:321px;
	height: 45px;
	border-radius:4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border:none;
}

form button {
	background: transparent;
	border: 2px solid #fff;
	color: white;
	border-radius: 30px;
	padding: 10px 30px;
	font-size:15px;
	cursor: pointer;
}

.footer div h4{
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.social-icons{
	margin-top: 30px;
}

.social-icons i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}
