/* CSS Document */

.site-header{
    width: 100%;
    display: flex;
    background-color: black;
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    justify-content: space-between;
	align-items: center;
	border: dotted;
	border-bottom-color: #C899FF;
	border-width: 2px;
}
.nav-links{
	background-color: #black;
	border: solid;
	border-width: 2px;
	text-align: center;
	font-family: "sauna-new", sans-serif;
	font-size: 20px; 	
	padding: 5px;
}

.nav-links a{
text-decoration: none;
		color: white;

}

.main-wrapper{
	max-width: 1400px;
	height: 100%;
	margin: 0 auto;
	padding: 20px 40px;
	border:solid;
}

.logo-img{
	width: 250px;
	height: 60px;
	overflow: hidden;
}

body{
/*	background-color:#433247;*/
	background-color: black;
	align-content: center;
	margin: 0;
	padding: 0;
}

.searchbar input{
	width:222px;
	height: 25px;
	border-radius:4px;
	text-align: center;	outline: none;
	border:none;
}
.searchbar i{
	color:#D59DEF;
	font-size: 19px;
	padding: 12px;
}

.searchbar{
	padding-left: 10px;

}

.navbar {
/*  width: 300px;*/
  overflow: auto;
}
.navbar i{
	color: white;
}

/* Navbar links */
.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #C899FF;
}
.searchbar i{
	align-items: flex-start;
}
.navbar input[type=text] {
  
  float: right;
  align-content: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.bg-image{
/*	background-image: url("imagesFinal/home.jpg");*/
	background-image: 
	linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 300%), url("imagesFinal/home.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	border: solid;
}

h2{
	color: white;
}
h1{
	font-family: "sauna-new", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 60px;
	margin: 0;
	padding-top: 17px;
}

.homeimg{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.showcase-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 20px;
	justify-content: space-around;
	align-items: start;
	padding-top: 23px;
}

h2{
	text-align: center;
	font-family: "sauna-new", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 40px;
}

.showcase-item{
	width: 200px;
	height:300px;
	margin: 0 auto;
	text-align: center;
	border: solid;
}

.showcase-item p {
	margin: -10em 0;
	line-height: 135%;
	font-family: "sauna-new", sans-serif;
	font-size: 22px;
	color: beige
	
}

.showcase-img{
	min-width: 200px;
	height:300px;
	width: 100%;
    min-height: 100%;
/*	box-shadow: 12px 12px 40px #11053C;*/
}

.review-grid{
/*	border:solid;*/
	display:flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-between;
	grid-row-gap: 10px;
	
}

[class *= "review-card-"]{
	border-radius: 20px;
	background-color: #000000;
	border-color: white;
	color: white;
	border-width: 1px;
	
}
[class *= "review-card-"] p{
font-size: 20px;
	color: white;
}

.review-card-left{
	border:solid;
	display: flex;
	padding: 10px;
	align-items: center;
	margin-top:23px; 

}

.review-card-right{
	border:solid;
	display: flex;
	flex-direction: row-reverse;
	padding: 10px;
	align-items: center;
	margin-top:23px; 

}

.review-img img{
	width:300px;
	padding-right: 20px;
}

.review{

}

.footer{
    position: relative;
    margin-top: 111px; 
    padding: 100px 10%;
	padding-top: 30px;
    background: black;
    color: white;
    display: flex;
    column-gap: 30px;
    padding-bottom: 55px;
    font-family: "sauna-new", sans-serif;
	border-top:solid #C899FF;
	
}

.footer div{
	text-align: center;
    }

[class*=".col-"] {
	flex-direction: column;
	
}

h4{
	font-size: 26px;
}

.col-1 a{
	display: flex;
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
	flex-direction: column;
}
.col-2{
	flex-grow: 2;
}

form input{
	width:222px;
	height: 45px;
	border-radius:4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border:none;
}

form button {
	background: transparent;
	border: 2px solid #C899FF;
	color: white;
	border-radius: 30px;
	padding: 10px 30px;
	font-size:15px;
	cursor: pointer;
}

.footer div h4{
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.social-icons{
	margin-top: 30px;
}

.social-icons i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}

#trademark{
    position: static;
    width: 100%;
    color: white;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
	background-color: black;
	margin: 0;
/*	font-size: 15px;*/
	
}
