a{
	background-color: rgba(83,42,114,1.00);
	padding: 10px 10px;
	color: rgba(255,109,174,0.70);
	text-decoration: none;
	border-radius: 50px;
}

p{
	font-size: 22px;
	line-height: 160%;
}
body{
	background-color:#7D59B0;
	align-content: center;
	background-color:#2C0847;
	margin: 0;
	padding: 0;
	
}
h2 {
	color:#2C0847;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: rgba(187,35,142,1.00);
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.main-wrapper{
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	padding: 20px 40px;
}



#headerTitle{
	color:rgba(196,66,222,1.00);
	margin-bottom: 15px;
	background-color:rgba(73,19,114,0.71);
	border-color:rgba(218,75,244,0.89);
	border-style: solid;
	border-width: thin;
	font-family: "quokka", sans-serif;
	font-weight: 700;
	font-style: normal;
}

header{
	background-color: #2C0847;
}

.Preface-Grid{
	display:grid;
	/*grid-template-columns: 1fr 1fr;*/
	align-items: center;
	
}

#preface-image{
	width:230px;
	height: 228px;
	padding-right: 22px;
}
#preface-text{
	float:right;
}

.logo-wrap{
	width: 160px;
	height: 144px;
	overflow: hidden;
	
}

#item-img{
	transform: rotate(-90deg);
}

.item-align{
	align-items: center;
	
}

.top-header-links{
	text-align: right;
	margin-top: -35px;
	margin-bottom: -11px;
	margin-right: 10px;
}

.top-header-links a{
	color:rgba(218,75,244,0.89);
	font-size: 19px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	text-decoration: none;
	margin-bottom: 10px;
}

.top-header-links a:hover{
	background-color: hsla(254,36%,43%,1.00);
}
.sitenav {
	overflow: hidden;
	/*padding: 12px;*/
}

.sitenav a{
	background-color: rgba(44,8,71,1.00);
	float: left;
	color: hsla(310,100%,60%,1.00);
	text-align: center;
	padding: 10px 5px 10px 10px;
	font-size: 17px;
	text-decoration: none;
}

.sitenav a:hover{
	background-color: hsla(254,36%,43%,1.00);
	color: #FF6DAE;

	}

p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:#FCCCE8;
	font-size: 19px;
	}
table ,th,td {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #FCCCE8;
	border: 2px solid #412D7E;
	border-color: #3B2488;
	padding: 9px;
	text-align: center;
	font-size: 17px;
	width: 60%;
	}

/*th = table header*/

tr:nth-child(even) {background-color: #5B4796;}
tr:nth-child(odd) {background-color: rgba(91,71,150,0.30);}
tr:first-child {background-color: #412D7E;}
table {background: hsla(255,47%,34%,0.82)}

h1 {
	color:#2C0844;
	/*color:#3D0045;
	background-color:#FF6DAE;
	rgba(187,35,142,1.00)*/
	background-color: rgba(187,35,142,1.00);
	padding: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	border-radius: 10px;
	
	}



.site-logo-img{
	height: 140px;
	}

.site-header{
	margin-bottom: -9px;
	}

.site-header a{
	background: transparent;
	}


.gallery-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 20px;
	justify-content: space-between;
	align-items: start;
}

.gallery-item{
	width: 300px;
	text-align: center;
}

.gallery-item p {
	margin: .25em 0;
	line-height: 135%;
}

.groupWrapper a{
	background-color: transparent;
		padding: 0px 0px;

}
.groupWrapper a:hover{
	background-color: transparent;
	padding: 0px 0px;
	color:#FF2ABF;

}

